.boot{
    background-color:#2C3E50 ;
}
.back{
    color: white;
}

.style{
    text-decoration: none;
}



.color{
    background-color:#1ABC9C
}
.padding{
    padding: 100px;
}


.img-q{
    width: 100%;
    height: 100%;

}
.img-quri{
    width: 400px;
    height: 350px;
}

.sectio{
    background-color: #1ABC9C;
}


.path{
    width: 30px;
    height: 30px;
}
.font{
    font-size: 20px;
}

.width{
    width: 800px;
}